# may contain OAuth secrets, do not commit
.sitecore/user.json

# NuGet cache for Sitecore CLI
.sitecore/package-cache/

# Ephemeral index caches used by serialization, do not commit
.scindex

# Don't commit packages
*.itempackage
*.sicpackage

#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/

# temporary workaround
/docker/data/cm/*
!/docker/data/cm/.gitkeep
/docker/data/cd/*
!/docker/data/cd/.gitkeep
/docker/data/sql/*
!/docker/data/sql/.gitkeep
/docker/data/solr/*
!/docker/data/solr/.gitkeep
/docker/deploy/platform/*
!/docker/deploy/platform/.gitkeep
/docker/traefik/certs/*.pem
/headapps/nextjs-starter/app/node_modules
/headapps/nextjs-starter/app/coverage
/headapps/nextjs-starter/app/.next*/
/headapps/nextjs-starter/app/out/
/headapps/nextjs-starter/app/.generated
/headapps/nextjs-starter/app/*.graphql.d.ts
/headapps/nextjs-starter/app/*.graphqls.d.ts
/headapps/nextjs-starter/app/.DS_Store
/headapps/nextjs-starter/app/.env.local
/headapps/nextjs-starter/app/.env.*.local
/headapps/nextjs-starter/app/*.log*
/headapps/nextjs-starter/app/.vercel
/headapps/nextjs-starter/app/**/*.graphql.d.ts
/headapps/nextjs-starter/app/**/*.graphqls.d.ts
/headapps/nextjs-starter/app/**/.DS_Store
/headapps/nextjs-starter/app/**/.env.local
/headapps/nextjs-starter/app/**/.env.*.local
/headapps/nextjs-starter/app/**/*.log*
/headapps/nextjs-starter/app/.vercel
/headapps/nextjs-starter/app/src/temp/*
/headapps/nextjs-starter/app/src/temp/!.gitignore
/headapps/nextjs-starter/app/src/temp/!GraphQLFragmentTypes.json
/headapps/nextjs-starter/app/src/temp/!GraphQLIntrospectionResult.json
