.sc-menu-arrow {
  &:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 0.3rem solid transparent;
    border-right: 0.3rem solid transparent;
    border-top: 0.3rem solid $text-white;
    margin-left: 0.3rem;
  }

  &:hover {
    &:after {
      border-top-color: var(--chakra-colors-orange-300);
    }
  }
}

.sc-desktop-nav > div {
  &:last-child {
    padding-right: 0 !important;
  }
}

.sc-menu-chevron {
  border-width: 0.15rem 0.15rem 0 0;
  border-color: $text-black;
  display: inline-block;
  vertical-align: top;
  border-style: solid;
  position: relative;
  height: 0.6rem;
  width: 0.6rem;

  &.chevron-right {
    transform: rotate(45deg);
  }

  &.chevron-left {
    transform: rotate(225deg);
  }
}

.sc-menu-humburger {
  width: 18px;
  height: 12px;
  position: relative;
  border: 2px solid $border-white;
  border-left: none;
  border-right: none;

  &:before {
    content: '';
    width: 100%;
    height: 2px;
    background: $border-white;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1px;
  }
}

.sc-menu-level-item {
  margin-top: 0 !important;
  border-bottom: 1px solid $border-gray;
}

.sc-desktop-subnav,
.sc-mobile-nav {
  > [class^='chakra-popover'] {
    width: 100%;
    min-width: 100% !important;
    z-index: 2100000012; // value is needed to overcome "sc-frame" element on the page
  }
}

.sc-mobile-nav {
  > [class^='chakra-popover'] {
    height: 100%;
  }
}

.sc-menu-link-details {
  &:hover {
    text-decoration: underline;
  }
}
