@import 'basic/fonts';
@import 'font-awesome/scss/font-awesome';
@import '../../dist/tailwind.css';
@import 'sass/main.scss';
@import 'basic/main.scss';
@import 'tailwind-layout.scss';
@import 'play-travel/index.scss';
