<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/&gt;"
	xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <services>
      <configurator type="Kajoo.Foundation.Messaging.Infrastructure.ServicesConfigurator, Kajoo.Foundation.Messaging"/>
    </services>
    <pipelines>
      <initialize>
        <processor type="Kajoo.Foundation.Messaging.Pipelines.RegisterMessageHandler, Kajoo.Foundation.Messaging" resolve="true"/>
      </initialize>
    </pipelines>
  </sitecore>
</configuration>