<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/&gt;"
	xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <settings>
      <setting name="KAJOO:GetUserProjects" value="https://api.kajoo.ai/projects"/>
      <setting name="KAJOO:ApiUrl" value="https://api.kajoo.ai"/>
      <setting name="KAJOO:DashboardUrl" value="https://app.kajoo.ai/dashboard/projects"/>
      <setting name="KAJOO:InstancesUrl" value="https://app.kajoo.ai/dashboard/configurations?view=instances"/>
    </settings>
    
    <services>
      <configurator type="Kajoo.Foundation.Common.Infrastructure.ServicesConfigurator, Kajoo.Foundation.Common"/>
      <register serviceType="Kajoo.Foundation.Common.Services.IDbPropertyProvider, Kajoo.Foundation.Common"
        implementationType="Kajoo.Foundation.Common.Services.DbPropertyProvider, Kajoo.Foundation.Common" lifetime="Transient"/>
    </services>
  </sitecore>
</configuration>