<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/>" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <services>
      <configurator type="Kajoo.Feature.Deployment.Infrastructure.ServicesConfigurator, Kajoo.Feature.Deployment"/>
    </services>
    <pipelines>
      <group groupName="javaScriptServices">
        <pipelines>
          <import>
            <processor patch:after="*[@type='Sitecore.JavaScriptServices.AppServices.Pipelines.Import.ProcessTemplates, Sitecore.JavaScriptServices.AppServices']"
           type="Kajoo.Feature.Deployment.Pipelines.Import.ProcessStandardValues, Kajoo.Feature.Deployment" />
            
            <processor patch:after="*[@type='Sitecore.JavaScriptServices.AppServices.Pipelines.Import.ProcessRenderings, Sitecore.JavaScriptServices.AppServices']"
                      type="Kajoo.Feature.Deployment.Pipelines.Import.ConfigureRenderingContentResolver, Kajoo.Feature.Deployment" />
          </import>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>