<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Sitecore.Services.SecurityPolicy">
        <patch:attribute name="value" value="Sitecore.Services.Infrastructure.Web.Http.Security.ServicesOnPolicy, Sitecore.Services.Infrastructure"/>
      </setting>
    </settings>
    <services>
      <configurator type="Kajoo.Feature.Api.Infrastructure.ServicesConfigurator, Kajoo.Feature.Api"/>
      <register serviceType="Kajoo.Feature.Api.Controllers.InstanceController, Kajoo.Feature.Api"
        implementationType="Kajoo.Feature.Api.Controllers.InstanceController, Kajoo.Feature.Api" lifetime="Transient"/>
      <!--<register serviceType="Kajoo.Foundation.Common.Services.ServicesConfigurator, Kajoo.Foundation.Common"
       implementationType="Kajoo.Feature.Api.Services.InstanceRegistrationService, Kajoo.Feature.Api" lifetime="Transient"/>-->
      
  
    </services>
    <pipelines>
      <initialize>
        <processor type="Kajoo.Feature.Api.Pipelines.Initialize.RegisterRoutes, Kajoo.Feature.Api"
          patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']"/>
      </initialize>
      <mvc.renderRendering>
        <processor type="Kajoo.Feature.Api.Pipelines.RenderRendering.AddKajooWrapper, Kajoo.Feature.Api" patch:before="*[last()]"/>
      </mvc.renderRendering>
    </pipelines>
	  <settings>
		  <setting name="SitemapHostname" value=""/>
		  <setting name="SitemapHomeItem" value=""/>
	  </settings>
  </sitecore>
</configuration>